* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Dancing Script', sans-serif;
}
.badge-primary {
    background-image: linear-gradient(to right, #00c6ff, #0072ff) !important;
}
.cvt-highlight {
    background-color: rgba(0, 146, 255, 0.3);
}
input, .list-group {
    font-family: sans-serif;
    line-height: 1.2em;
}
#navbar-app nav {
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
}
#navbar-app nav a {
    color: #fff;
    opacity: 0;
    transition: .5s ease;
}
.animated-navbar {
    opacity: 1 !important;
}
#header-app {
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
    padding-top: 5%;
    height: 100vh;
}
.animated-background {
    height: auto !important;
}
#header-app .container {
    margin-bottom: 2%;
    margin-top: 25vh;
    transition: all 1s ease;
}
.animated-foreground {
    margin-bottom: 2%;
    margin-top: 0vh !important;
}
#header-app .row {
    display: flex;
    justify-content: center;
}
#header-app h1 {
    font-size: 8em;
}
#header-app .button-search {
    width: 60%;
    margin: 0 auto;
}
#bottom-wave {
    width: 100%;
    height: 50px;
}
#pagination-area {
    margin-top: 3%;
}
#pagination-area .page-item {
    padding: 8px;
}
#pagination-area a, #pagination-area p {
    font-family: sans-serif;
    font-size: 12px;
    border: 0px;
    padding: 0px;
}
.page-item.active .page-link {
    background-color: #fff;
    color: #212529;
    border-bottom: 1px solid black !important;
}
#pagination-area a:hover {
    background-color: #fff;
}
#pagination-area p {
    font-size: 12px;
}
#body-app {
    margin-top: 3%;
}
#body-app .list-group-item {
    padding-left: 0;
}
#body-app .badge-pill a {
    color: #fff;
    text-decoration: none;
}
#header-title {
    height: 150px;
    width: auto;
    opacity: 1;
    transition: all .3s;
}
.animated-header-title {
    opacity: 0 !important;
    height: 0px !important;
}
.header-button {
    z-index: 999;
}
.fade-enter-active, .fade-leave-active {
    transition: all .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active di bawah versi 2.1.8 */ {
    opacity: 0;
    height: 0px;
}