<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subtitle Finder</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./app.css">
</head>
<body>
    <div id="app">
        <section id="navbar-app">
            <nav class="navbar fixed-top navbar-light">
                <a class="navbar-brand" v-bind:class="{'animated-navbar': !emptyData}" href="">Subtitle Finder</a>
            </nav>
        </section>

        <section id="header-app" v-bind:class="{'animated-background': !emptyData}">
            <div class="container" v-bind:class="{'animated-foreground': !emptyData}">
                <div class="row">
                    <h1 id="header-title" class="mb-3" v-bind:class="{'animated-header-title': !emptyData}">Subtitle Finder</h1>
                </div>
                <section class="button-search">
                    <transition name="fade">
                        <div key="link" class="row" v-if="formStageOne">
                            <div class="input-group">
                                <input id="link-input" type="text" class="form-control" placeholder="Youtube link e.g. https://www.youtube.com/watch?v=klnvttPfOUM&q" v-model="forms.link">
                                <div class="input-group-append">
                                <button class="btn btn-outline-light header-button" type="button" @click="handleFormClear">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                    </svg>
                                </button>
                                </div>
                            </div>
                        </div>
                        
                        <div key="keyword" class="row" v-if="formStageTwo">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Keyword e.g. webdev" v-model="forms.keyword">
                                <div class="input-group-append">
                                <button class="btn btn-outline-light" type="button" @click="handleFormClear">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                    </svg>
                                </button>
                                </div>
                            </div>
                        </div>
                    </transition>

                    <div class="row mt-3">
                        <button class="btn btn-outline-light header-button" @click="handleNext" v-if="formStageOne" :disabled="forms.link <= 0">
                            Next 
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
                            </svg>
                        </button>
                        <button class="btn btn-outline-light header-button" @click="forms.stage = 1" v-if="formStageTwo" :disabled="forms.link <= 0">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            Back 
                        </button>&nbsp;
                        <button class="btn btn-outline-light header-button" v-if="formStageTwo" @click="handleSearch" :disabled="(emptyFormLink || emptyFormKeyword)">
                            Search 
                            &nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" transform="scale(-1,1)" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                              </svg>
                        </button>
                    </div>
                </section>
            </div>
    
            <img v-if="!emptyData" src="./images/wave.png" id="bottom-wave">
        </section>
    
        <section id="body-app" v-if="!emptyData">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h1 class="text-center mb-3">Results</h1>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center" v-for="item in data">
                                <span v-html="item.text"></span>
                                <span class="badge badge-primary badge-pill">
                                    <a target="_blank" :href="forms.link + '&t=' + item.start">{{ item.start }}</a>
                                </span>
                            </li>
                        </ul>
    
                        <section id="pagination-area" class="d-flex align-items-center">
                            <nav class="flex-fill">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item" :class="{'disabled': currentPage <= 1}">
                                        <a class="page-link" href="javascript:;" tabindex="-1" aria-disabled="true" @click="handlePagination(1)">First</a>
                                    </li>
                                    <li class="page-item" :class="{'disabled': currentPage <= 1}">
                                        <a class="page-link" href="javascript:;" aria-label="Previous" @click="handlePagination(currentPage-1)">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li v-for="(item, index) in totalPageNum" class="page-item" :class="{'active': currentPage == index+1}" v-if="checkRange(index+1)">
                                        <a class="page-link" href="javascript:;" @click="handlePagination(index+1)">{{ (index + 1) }} 
                                            <span class="sr-only" v-if="(index+1) == currentPage">(current)</span>
                                        </a>
                                    </li>
                                    <li class="page-item" :class="{'disabled': currentPage >= totalPageNum}">
                                        <a class="page-link" href="javascript:;" aria-label="Next" @click="handlePagination(currentPage+1)">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item" :class="{'disabled': currentPage >= totalPageNum}">
                                        <a class="page-link" href="javascript:;" tabindex="-1" aria-disabled="true" @click="handlePagination(totalPageNum)">Last</a>
                                    </li>
                                </ul>
                            </nav>
        
                            <p class="total-page">Page {{ currentPage }} of {{ totalPageNum }}</p>
    
                        </section>
                    </div>
    
                    <div class="col-sm">
                        <h1 class="text-center mb-3">Youtube</h1>
                        <div class="mt-3">
                            <iframe width="100%" height="300" src="https://www.youtube.com/embed/klnvttPfOUM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer v-if="!emptyData">
            <div class="container d-flex justify-content-end">
                <div class="row">
                    <p class="text-center">Copyright @2020</p>
                </div>
            </div>
        </footer>
    </div>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Babel standalone -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                url: 'https://cari-teks-video-api.vercel.app/api',
                forms: {
                    stage: 1,
                    link: 'https://www.youtube.com/watch?v=klnvttPfOUM',
                    keyword: 'web',
                },
                data: [],
                totalPage: 0,
                currentPage: 1,
                prevPage: null,
                nextPage: null,
                startNum: 1,
                endNum: 10,
            },
            methods: {
                handleNext() {
                    this.forms.stage = 2;
                },
                handleFormClear() {
                    if (this.forms.stage == 1) {
                        this.forms.link = '';
                    } else if (this.forms.stage == 2) {
                        this.forms.keyword = '';
                    }
                },
                async handleSearch() {
                    const {link, keyword} = this.forms;
                    
                    try {
                        const result = await axios.get(`${this.url}/search?url=${link}&q=${keyword}`);
                        
                        if (result.status === 200) {
                            this.data = result.data.data;
                            this.totalPage = result.data.total;
                            this.currentPage = result.data.page;
                            this.prevPage = result.data.prev;
                            this.nextPage = result.data.next;
                        }
                        
                    } catch (error) {
                        alert(error);
                        console.log('ERR handleSearch', error);
                    }

                },
                scrollToBottom() {
                    $("html, body").animate({ scrollTop: $(document).height() }, 1500);
                },
                async handlePagination(page) {
                    const {link, keyword} = this.forms;

                    try {
                        const result = await axios.get(`${this.url}/search?url=${link}&q=${keyword}&page=${page}`);
                        
                        if (result.status === 200) {
                            this.data = result.data.data;
                            this.totalPage = result.data.total;
                            this.currentPage = result.data.page;
                            this.prevPage = result.data.prev;
                            this.nextPage = result.data.next;

                            // handle first
                            if (page == 1) {
                                this.startNum = 1;
                                this.endNum = 10;
                            } 
                            // handle prev
                            else if (page < this.startNum) {
                                this.startNum = this.startNum - 9;
                                this.endNum = this.startNum + 9;
                            } 
                            // handle last
                            else if (page == this.totalPageNum) {
                                this.startNum = this.totalPageNum - (this.totalPageNum % 10);
                                this.endNum = this.totalPageNum;
                            }
                        }
                        
                    } catch (error) {
                        alert(error);
                        console.log('ERR handleSearch', error);
                    }
                },
                checkRange(page) {
                    let range = [];

                    if (this.currentPage % 10 === 0) {
                        this.startNum = this.currentPage;
                        this.endNum = this.currentPage + 10;
                    }

                    for (let i = this.startNum; i <= this.endNum; i++) {
                        range.push(i);
                    }

                    return range.includes(page);
                }
            },
            mounted() {
                
            },
            computed: {
                emptyFormLink() {
                    return this.forms.link <= 1;
                },
                emptyFormKeyword() {
                    return this.forms.keyword <= 1;
                },
                formStageOne() {
                    return this.forms.stage == 1;
                },
                formStageTwo() {
                    return this.forms.stage == 2;
                },
                emptyData() {
                    return this.data.length <= 0;
                },
                limitPerPage() {
                    return 10;
                },
                totalPageNum() {
                    return Math.ceil(this.totalPage / 10);
                }
            }
        });
    </script>
</body>
</html>